node_modules
.vscode
.next
.next/app-build-manifest.json
*.pack
.next/app-build-manifest.json
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/app-paths-manifest.json
.next/server/app/(default)/page.js
.next/server/client-reference-manifest.js
.next/server/client-reference-manifest.json
.next/server/flight-server-css-manifest.js
.next/server/flight-server-css-manifest.json
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/webpack-runtime.js
.next/static/chunks/app/layout.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/types/app/(default)/layout.ts
.next/types/app/(default)/page.ts
.next/types/app/layout.ts
