@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
  display: none;
}

.masonry-container {
  column-count: 1; /* Set default column count for mobile */
  column-gap: 1rem; /* Space between columns */
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem; /* Space between items */
}

/* Responsive columns */
@media (min-width: 640px) {
  .masonry-container {
    column-count: 2; /* 2 columns on small screens */
  }
}

@media (min-width: 768px) {
  .masonry-container {
    column-count: 2; /* 3 columns on medium screens */
  }
}

@media (min-width: 1024px) {
  .masonry-container {
    column-count: 2; /* 4 columns on large screens */
  }
}
